@tailwind base;
@tailwind components;
@tailwind utilities;

.barcode-pages-container {
  @apply flex flex-wrap justify-center w-full h-screen;
}

.barcodes-page-container {
  @apply flex justify-center items-center print:flex-col print:m-0 w-screen h-screen;
}

.barcodes-page {
  aspect-ratio: 8.5 / 11;
  @apply flex flex-wrap break-inside-avoid print:m-0 pt-10 w-[8.5in]
  print:w-screen shadow-2xl print:h-screen 
  print:border-none bg-white 
  border-white
  transition-all scale-[0.75] print:scale-100;
}x

.barcodes-page.--empty {
  @apply print:hidden;
}

.barcodes-page.--active {
  @apply border-slate-300;
}

.barcodes-page:not(.--active) {
  @apply hover:cursor-pointer;
}

.barcode-container {
  @apply flex flex-1 justify-center basis-1/2 
  break-after-all h-[10rem] relative;
}

.barcode-container svg:hover {
  @apply cursor-pointer;
}

.barcode-svg rect {
  @apply fill-black transition-colors;
}

.pages-container {
  @apply overflow-y-auto print:overflow-y-visible;
}

kbd {
  @apply text-slate-700 bg-slate-100 shadow-inner border 
    border-slate-300 rounded inline-block px-1 pt-1 pb-0.5 whitespace-nowrap font-bold leading-none
}